<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Challenger_Launcher.Common" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Challenger_Launcher.Common>
            <setting name="LauncherVersion" serializeAs="String">
                <value>Build V0.00.0</value>
            </setting>
        </Challenger_Launcher.Common>
    </applicationSettings>
</configuration>