<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spectral_Launcher.data.core.ApplicationData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Spectral_Launcher.data.ApplicationData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Spectral_Launcher.Common" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spectral_Launcher.properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Spectral_Launcher.data.properties.DynamicSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Spectral_Launcher.data.core.UserData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Spectral_Launcher.data.core.ApplicationData>
            <setting name="avalibleLanguages" serializeAs="String">
                <value />
            </setting>
        </Spectral_Launcher.data.core.ApplicationData>
        <Spectral_Launcher.data.ApplicationData>
            <setting name="AvalibleThemes" serializeAs="String">
                <value />
            </setting>
        </Spectral_Launcher.data.ApplicationData>
        <Spectral_Launcher.Common>
            <setting name="LauncherVersion" serializeAs="String">
                <value>Build V0.00.3</value>
            </setting>
        </Spectral_Launcher.Common>
    </applicationSettings>
    <userSettings>
        <Spectral_Launcher.properties.Settings>
            <setting name="accountName" serializeAs="String">
                <value />
            </setting>
            <setting name="accountPassword" serializeAs="String">
                <value />
            </setting>
        </Spectral_Launcher.properties.Settings>
        <Spectral_Launcher.data.properties.DynamicSettings>
            <setting name="avalibleThemes" serializeAs="String">
                <value />
            </setting>
        </Spectral_Launcher.data.properties.DynamicSettings>
        <Spectral_Launcher.data.core.UserData>
            <setting name="accountName" serializeAs="String">
                <value />
            </setting>
            <setting name="accountPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="desiredTheme" serializeAs="String">
                <value />
            </setting>
        </Spectral_Launcher.data.core.UserData>
    </userSettings>
</configuration>